* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    animation: background 4s infinite;
}

.bgc {
    background: linear-gradient(burlywood, lightgray);
}

.main_box_game {
    position: absolute;
    width: 100vw;
    height: 70vh;
    border-bottom: 2px solid black;
    box-shadow: 0 5px 16px green;
}

.start_game {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 200px;
    width: 200px;
    left: 45%;
    top: 48%;
    border: 1px solid black;
    border-radius: 50%;
    transition: 1s;
    animation: start 4s infinite;
    background: white;
}


.jump_block {
    position: relative;
    top: 459px;
    width: 70px;
    height: 180px;
    background: darkmagenta;
    z-index: 2;
}

.lobby_game {
    display: none;
}

.animation {
    animation: jump 1s linear;
}

.run_block {
    position: relative;
    width: 70px;
    height: 70px;
    background: blue;
    left: 1850px;
    top: 389px;
}

.animation_run {
    animation: run 2s infinite linear;
}

.score {
    display: flex;
    justify-content: center;
}

.if_loser {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.popup {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: white;
    gap: 10px;
    border: 1px solid black;
    width: 300px;
    height: 150px;
    box-shadow: inset 0 1px 15px red;
    animation: popup 1s 2;
}

.reset {
    cursor: pointer;
    animation: reset 1s infinite;
}


/*////*/
@keyframes reset {
    0% {
        scale: 1.1;
    }
    50% {
        scale: 1.2;
    }
    100% {
        scale: 1.1;
    }
}

@keyframes popup {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

@keyframes start {
    0% {
        scale: 1.1;
        box-shadow: 2px 3px 13px green;

    }
    50% {
        scale: 1.2;
        box-shadow: 2px 3px 14px green;

    }
    100% {
        scale: 1.1;
        box-shadow: 2px 3px 15px green;
    }
}

@keyframes run {
    0% {
        left: 1850px
    }
    100% {
        left: -40px;
    }
}

@keyframes jump {
    0% {
        top: 459px
    }
    30% {
        top: 366px
    }
    70% {
        top: 366px
    }
    90% {
        top: 396px
    }
    100% {
        top: 459px
    }
}

@keyframes background {
    0% {
        background: wheat;
    }
    20% {
        background: burlywood;
    }
    40% {
        background: bisque;
    }
    60% {
        background: whitesmoke;
    }
    80% {
        background: powderblue;
    }
    100% {
        background: azure;
    }
}

@media only screen and (max-width: 1680px) and (max-height: 1050px){
    .jump_block {
        top: 439px;
    }

    .run_block {
        top: 369px;
    }

    @keyframes jump {
        0% {
            top: 439px
        }
        30% {
            top: 346px
        }
        70% {
            top: 346px
        }
        90% {
            top: 366px
        }
        100% {
            top: 439px
        }
    }
    @keyframes run {
        0% {
            left: 1610px
        }
        100% {
            left: -40px;
        }
    }
}

